<body>
  <main>
    <h1 id="heading">About me</h1>
    <p>
      I'm a wired hair dachshund. I was adopted 10 years ago in Hungary, then I
      moved to Berlin with my humans.
    </p>
  </main>
</body>
