<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Cseppke, the dog</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About me</a>
        <a href="/work">My Work</a>
        <a href="/gallery">Photo Gallery</a>
      </nav>
    </header>
    <main>
      <h1 id="heading">Photos of me</h1>
      <div class="gallery">
        <img src="/images/IMG_20141201_180650.JPG" alt="" />
        <img src="/images/IMG_20141201_180650.JPG" alt="" />
        <img src="/images/IMG_20141201_180650.JPG" alt="" />
      </div>
    </main>
  </body>
</html>
