<body>
  <main>
    <h1 id="heading">My work</h1>
    <ul>
      <li>Stealing food</li>
      <li>Chasing birds</li>
      <li>Barking on strange things</li>
      <li>Sleep, sleep, sleep...</li>
    </ul>
  </main>
</body>
