@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    background-color: rgb(61, 73, 73);
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin: 0;
    font-family: Roboto;
}
header {
    background-color: goldenrod;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    gap: 2rem;
}
nav a {
    text-decoration: none;
    color: rgb(26, 24, 24);
    font-size: 1.5rem;
    font-weight: 900;
}
nav a:hover {
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}
main h1 {
    color: white;
    font-size: 4rem;
}
main img {
    width: 50%;
}
main p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
main ul {
    list-style: none;
    color: white;
}
li  {
    font-size: 1.5rem;
    padding-top: 1rem;
}
.gallery {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.gallery img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: top;
    transition: .3s all ease-in-out;
}
.gallery img:hover {
    width: 30rem;
    height: 30rem;
}